<div class="banner-container">

    <div class="--img">
        <img src="https://hongngochospital.vn/undefined/83527/image-thumb__83527__1920/banner%20web.ca4d0593.png" alt="Banner" title=""
            class="banner-image">
    </div>
    <div class="overlay-div">
        <div class="container-fluid">
            <h1 class="--title">
                Chuyên khoa
            </h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="--link" href="/">
                            Trang chủ
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Chuyên khoa
                    </li>


                </ol>
            </nav>

        </div>
    </div>
</div>

<div class="specialistList">
    <div class="container-fluid">
        <div class="--title d-flex justify-content-between align-items-center">
            <h1 class="custom-h1">
                Danh Sách Chuyên Khoa
            </h1>
        </div>

        <div class="product-grid" id="specialist-list">
            <div *ngFor="let major of major" class="product" style="width: 18rem;">
                <img src="https://tse1.mm.bing.net/th?id=OIP.gtlX0sPHPto7-qHfkPwdngHaEK&pid=Api&P=0&h=180" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> {{ major.name }}</h5>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>
            <!-- <div class="product" style="width: 18rem;">
                <img src="https://tse1.mm.bing.net/th?id=OIP.gtlX0sPHPto7-qHfkPwdngHaEK&pid=Api&P=0&h=180" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tên khoa</h5>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>

            <div class="product" style="width: 18rem;">
                <img src="https://tse1.mm.bing.net/th?id=OIP.gtlX0sPHPto7-qHfkPwdngHaEK&pid=Api&P=0&h=180" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tên khoa</h5>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>

            <div class="product" style="width: 18rem;">
                <img src="https://tse1.mm.bing.net/th?id=OIP.gtlX0sPHPto7-qHfkPwdngHaEK&pid=Api&P=0&h=180" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tên khoa</h5>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>
            <div class="product" style="width: 18rem;">
                <img src="https://tse1.mm.bing.net/th?id=OIP.gtlX0sPHPto7-qHfkPwdngHaEK&pid=Api&P=0&h=180" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tên khoa</h5>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>
            <div class="product" style="width: 18rem;">
                <img src="https://tse1.mm.bing.net/th?id=OIP.gtlX0sPHPto7-qHfkPwdngHaEK&pid=Api&P=0&h=180" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tên khoa</h5>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>
            <div class="product" style="width: 18rem;">
                <img src="https://tse1.mm.bing.net/th?id=OIP.gtlX0sPHPto7-qHfkPwdngHaEK&pid=Api&P=0&h=180" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tên khoa</h5>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>

            <div class="product" style="width: 18rem;">
                <img src="https://tse1.mm.bing.net/th?id=OIP.gtlX0sPHPto7-qHfkPwdngHaEK&pid=Api&P=0&h=180" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tên khoa</h5>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>

            <div class="product" style="width: 18rem;">
                <img src="https://tse1.mm.bing.net/th?id=OIP.gtlX0sPHPto7-qHfkPwdngHaEK&pid=Api&P=0&h=180" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tên khoa</h5>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>

            <div class="product" style="width: 18rem;">
                <img src="https://tse1.mm.bing.net/th?id=OIP.gtlX0sPHPto7-qHfkPwdngHaEK&pid=Api&P=0&h=180" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tên khoa</h5>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                </div>
            </div> -->
        </div>
    </div>
</div>