  
<div class="service">
    <div class="container-fluid container-fluid-private">
        <div class="--title segTitle">
            <h1>Dịch vụ cung cấp</h1>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="--item col-lg-2 col-md-4">
                    <div class="d-flex justify-content-center">
                        <img
                            src="https://hongngochospital.vn/_default_upload_bucket/%E1%BA%A2nh%20%C4%91%E1%BA%A1i%20di%E1%BB%87n%20d%E1%BB%8Bch%20v%E1%BB%A5%20chuy%C3%AAn%20khoa%20kh%C3%A1m%20ph%E1%BB%A5%20khoa.jpg"
                            class="rounded-circle img_Service"
                            alt="..."
                        />
                    </div>
                    <div class="text-center">
                        <div class="card-body">
                            <h5 class="card-title" style="margin-bottom: 15px">Khám phụ khoa</h5>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="--item col-lg-2 col-md-4">
                    <div class="d-flex justify-content-center">
                        <img
                            src="https://hongngochospital.vn/_default_upload_bucket/NDA05166.jpg"
                            class="rounded-circle img_Service"
                            alt="..."
                        />
                    </div>
                    <div class="text-center">
                        <div class="card-body">
                            <h5 class="card-title" style="margin-bottom: 15px">Khám bệnh tại nhà</h5>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="--item col-lg-2 col-md-4">
                    <div class="d-flex justify-content-center">
                        <img
                            src="https://hongngochospital.vn/_default_upload_bucket/thumb-dich-vu%20%281%29.png"
                            class="rounded-circle img_Service"
                            alt="..."
                        />
                    </div>
                    <div class="text-center">
                        <div class="card-body">
                            <h5 class="card-title" style="margin-bottom: 15px">Khám sức khỏe doanh nghiệp</h5>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="--item col-lg-2 col-md-4">
                    <div class="d-flex justify-content-center">
                        <img
                            src="https://hongngochospital.vn/_default_upload_bucket/Gi%E1%BB%9Bi%20thi%E1%BB%87u_1.jpg"
                            class="rounded-circle img_Service"
                            alt="..."
                        />
                    </div>
                    <div class="text-center">
                        <div class="card-body">
                            <h5 class="card-title" style="margin-bottom: 15px">Dịch vụ cấp cứu</h5>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="--item col-lg-2 col-md-4">
                    <div class="d-flex justify-content-center">
                        <img
                            src="https://hongngochospital.vn/_default_upload_bucket/Gi%E1%BB%9Bi%20thi%E1%BB%87u_1.jpg"
                            class="rounded-circle img_Service"
                            alt="..."
                        />
                    </div>
                    <div class="text-center">
                        <div class="card-body">
                            <h5 class="card-title" style="margin-bottom: 15px">Khám sức khỏe du học</h5>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="--item col-lg-2 col-md-4">
                    <div class="d-flex justify-content-center">
                        <img
                            src="https://hongngochospital.vn/_default_upload_bucket/thai-san-va-sinh-con-tron-goi.jpg"
                            class="rounded-circle img_Service"
                            alt="..."
                        />
                    </div>
                    <div class="text-center">
                        <div class="card-body">
                            <h5 class="card-title" style="margin-bottom: 15px">Thai sản và sinh con trọn gói</h5>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="special_List">
    <div class="dtserviceytParameter">
        <div class="container-fluid container-fluid-private">
            <div class="row" style="margin-left: 60px">
                <div class="col-lg-3 col-md-6">
                    <div class="--number">3</div>
                    <div class="--name">Top 3 bệnh viện tư nhân</div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="--number">20+</div>
                    <div class="--name">Năm kinh nghiệm</div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="--number">500+</div>
                    <div class="--name">Cơ quan, tổ chức tin tưởng</div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="--number">2M+</div>
                    <div class="--name">Người khám sức khỏe mỗi năm</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="doctor">
    <div class="container-fluid container-fluid-private">
        <div class="">
            <div class="--title">
                <h1 class="segTitle">Đội ngũ bác sĩ</h1>
            </div>
            <div class="d-flex justify-content-center">
                Thăm khám và điều trị tại Bệnh viện Đa khoa Hồng Ngọc, khách hàng sẽ được trải nghiệm các dịch vụ chăm
                sóc sức khỏe chất lương cao đạt tiêu chuẩn quốc tế.
            </div>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
                ></button>
                <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                ></button>
                <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
                ></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="card col-lg-3 col-md-6">
                            <img
                                src="https://hongngochospital.vn/_default_upload_bucket/83828/image-thumb__83828__image720px/203-Dao-Thi-Nhai%20%282%29.9e6d7dc8.jpg"
                                class="card-img-top"
                                alt="..."
                            />
                            <div class="card-body">
                                <h5 class="card-title">Khoa nội tổng hợp</h5>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card col-lg-3 col-md-6">
                            <img
                                src="https://hongngochospital.vn/_default_upload_bucket/1_126.jpg"
                                class="card-img-top"
                                alt="..."
                            />
                            <div class="card-body">
                                <h5 class="card-title">Khoa nội tổng hợp</h5>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card col-lg-3 col-md-6">
                            <img
                                src="https://hongngochospital.vn/_default_upload_bucket/60013/image-thumb__60013__image720px/1_29.6a41efb7.jpg"
                                class="card-img-top"
                                alt="..."
                            />
                            <div class="card-body">
                                <h5 class="card-title">Khoa nội tổng hợp</h5>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card col-lg-3 col-md-6">
                            <img
                                src="https://hongngochospital.vn/_default_upload_bucket/85520/image-thumb__85520__image720px/tach%20nen.293b142a.jpg"
                                class="card-img-top"
                                alt="..."
                            />
                            <div class="card-body">
                                <h5 class="card-title">Khoa nội tổng hợp</h5>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="card col-lg-3 col-md-6">
                            <img
                                src="https://hongngochospital.vn/_default_upload_bucket/70121/image-thumb__70121__image720px/1_76.7319d3fd.jpg"
                                class="card-img-top"
                                alt="..."
                            />
                            <div class="card-body">
                                <h5 class="card-title">Khoa nội tổng hợp</h5>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card col-lg-3 col-md-6">
                            <img
                                src="https://hongngochospital.vn/_default_upload_bucket/83562/image-thumb__83562__image720px/1_105.f4364b69.jpg"
                                class="card-img-top"
                                alt="..."
                            />
                            <div class="card-body">
                                <h5 class="card-title">Khoa nội tổng hợp</h5>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card col-lg-3 col-md-6">
                            <img
                                src="https://hongngochospital.vn/_default_upload_bucket/61145/image-thumb__61145__image720px/1_55.d3cb1634.jpg"
                                class="card-img-top"
                                alt="..."
                            />
                            <div class="card-body">
                                <h5 class="card-title">Khoa nội tổng hợp</h5>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="card col-lg-3 col-md-6">
                            <img
                                src="https://hongngochospital.vn/_default_upload_bucket/85519/image-thumb__85519__image720px/T%C3%A1ch%20nen.79cd7991.jpg"
                                class="card-img-top"
                                alt="..."
                            />
                            <div class="card-body">
                                <h5 class="card-title">Khoa nội tổng hợp</h5>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card col-lg-3 col-md-6">
                            <img
                                src="https://hongngochospital.vn/_default_upload_bucket/60249/image-thumb__60249__image720px/1_36.904ce2e8.jpg"
                                class="card-img-top"
                                alt="..."
                            />
                            <div class="card-body">
                                <h5 class="card-title">Khoa nội tổng hợp</h5>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev"
            >
                <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: #343a40"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next"
            >
                <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: #343a40"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</div> 
