 <nav class="navbar navbar-expand-lg bg-body-tertiary py-0">
    <div class="container-fluid container-fluid-private">
        <div class="--logo">
            <a class="navbar-brand" href="#">
                <img
                    src="https://hongngochospital.vn/logo/logo.png"
                    alt="Bootstrap"
                    class="img-fluid"
                    width="30"
                    height="24"
                />
            </a>
        </div>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarScroll"
            aria-controls="navbarScroll"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <div class="container container_header-top px-0 mx-0">
                <div class="col-12 header-top">
                    <div class="z-0 --bg">
                        <img src="https://hongngochospital.vn/statics/img/bg-header.svg" class="img-fluid" alt="..." />
                    </div>
                    <div class="col-md-5 z-1 d-flex">
                        <div class="col-md-6 z-1" style="font-size: 140%;">
                            <a href="/src/index.html" class="text-center align-items-center d-flex text-light --link">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="20"
                                    fill="currentColor"
                                    class="bi bi-telephone-x"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"
                                    />
                                    <path
                                        fill-rule="evenodd"
                                        d="M11.146 1.646a.5.5 0 0 1 .708 0L13 2.793l1.146-1.147a.5.5 0 0 1 .708.708L13.707 3.5l1.147 1.146a.5.5 0 0 1-.708.708L13 4.207l-1.146 1.147a.5.5 0 0 1-.708-.708L12.293 3.5l-1.147-1.146a.5.5 0 0 1 0-.708"
                                    />
                                </svg>
                                <span> Cấp cứu 1900 636 555</span>
                            </a>
                        </div>
                        <div class="col-md-6 z-1" style="font-size: 140%;">
                            <a href="/src/index.html" class="text-center align-items-center d-flex text-light --link">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="20"
                                    fill="currentColor"
                                    class="bi bi-headset"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5"
                                    />
                                </svg>

                                <span>Tư vấn 0947150008</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-5 z-1 d-flex --right align-items-center">
                        <a
                            href="/src/index.html"
                            class="align-items-center d-flex text-light --hightlight --live --link --style"
                        >
                            <div class="--icon align-items-center d-flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-bookmark-plus"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"
                                    />
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4"
                                    />
                                </svg>
                            </div>
                            <span > Ưu đãi nổi bật</span>
                        </a>
                        <div class="dropdown">
                            <button
                                class="btn dropdown-toggle"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                style="color: #fff; font-size: 140%;"
                            >
                                VI
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Tiếng Việt</a></li>
                                <li><a class="dropdown-item" href="#">English</a></li>
                            </ul>
                        </div>

                        <div class="d-flex align-items-center --button" style="font-size: 140%;">
                            <a  *ngIf="!authService.getLoginStatus()" class="--link --language"  role="button" routerLink ="/register" s> Đăng ký </a>
                            <a  *ngIf="!authService.getLoginStatus()" class="--link --language"  role="button" routerLink ="/login"> Đăng nhập </a>
                            <a  *ngIf="authService.getLoginStatus()" class="--link --language"  role="button" routerLink ="/login"> Đăng xuất </a>
                            <a  *ngIf="authService.getLoginStatus()" class="--link --language"  role="button" routerLink ="/login"> Hồ sơ của bạn </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 d-flex align-items-center header-bot">
                    <div class="--menu d-flex justify-content-end align-items-center">
                        <div class="nav-item dropdown" style="margin-left: 150px">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                style="font-size: 140%;"
                            >
                                Giới thiệu
                            </a>
                            <ul class="dropdown-menu z-2">
                                <li><a class="dropdown-item" href="#">Về Hồng Ngọc Hospital</a></li>
                                <li><a class="dropdown-item" href="#">Hướng đẫn khách hàng</a></li>
                            </ul>
                        </div>
                        <div class="--item">
                            <div class="itemmenu --link --styleitem"  routerLink="/services">Dịch vụ</div>
                        </div>
                        <div class="--item">
                            <div class="itemmenu">
                                <a routerLink="/doctor" class="--link --styleitem" >Danh sách bác sĩ</a>
                            </div>
                        </div>
                        <div class="--item">
                            <div class="itemmenu">
                                <a routerLink="/major" class="--link --styleitem">Chuyên khoa </a>
                            </div>
                        </div>
                        <div class="nav-item dropdown --item">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                Tư vấn sức khỏe
                            </a>
                            <ul class="dropdown-menu z-2">
                                <li><a class="dropdown-item" href="#">Chuyên mục bài viết</a></li>
                                <li><a class="dropdown-item" href="#">Bệnh học A-Z</a></li>
                                <li><a class="dropdown-item" href="#">Từ điển cơ thể</a></li>
                            </ul>
                        </div>
                        <div class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                style="font-size: 140%;"
                            >
                                Tin tức & Khuyến mại
                            </a>
                            <ul class="dropdown-menu z-2">
                                <li><a class="dropdown-item" href="#">Thông tin ưu đãi</a></li>
                                <li><a class="dropdown-item" href="#">Câu chuyện khách hàng</a></li>
                                <li><a class="dropdown-item" href="#">Từ điển cơ thể</a></li>
                            </ul>
                        </div>
                        <div class="--item">
                            <div class="itemmenu">
                                <a href="/" class="--link --styleitem">Tuyển dụng</a>
                            </div>
                        </div>
                        <div class="--item">
                            <div class="itemmenu">
                                <a href="/" class="--link --styleitem">Liên Hệ</a>
                            </div>
                        </div>
                    </div>
                    <form class="--search" method="get" action="/Tim Kiem">
                        <input value type="text" name="search" placeholder="Tìm kiếm" />
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            fill="currentColor"
                            class="bi bi-search"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
                            />
                        </svg>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav> 

<!-- <div class="container-fluid">
    <div class="row align-items-start">
        <div class="col-lg-2 col-md-3">
            <div class="--logo">
                <a href="/src/index.html">
                    <img src="https://hongngochospital.vn/logo/logo.png" class="img-fluid" alt="Hong Ngoc" />
                </a>
            </div>
        </div>
        <div class="col-10">
            <div class="position-relative d-flex header-top">
                <div class="position-absolute z-0 --bg">
                    <img src="https://hongngochospital.vn/statics/img/bg-header.svg" class="img-fluid" alt="..." />
                </div>

                <div class="col-md-5 z-1 d-flex --left">
                    <div class="col-md-6 z-1">
                        <a href="/src/index.html" class="text-center align-items-center d-flex text-light --link">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="20"
                                height="20"
                                fill="currentColor"
                                class="bi bi-telephone-x"
                                viewBox="0 0 16 16"
                            >
                                <path
                                    d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"
                                />
                                <path
                                    fill-rule="evenodd"
                                    d="M11.146 1.646a.5.5 0 0 1 .708 0L13 2.793l1.146-1.147a.5.5 0 0 1 .708.708L13.707 3.5l1.147 1.146a.5.5 0 0 1-.708.708L13 4.207l-1.146 1.147a.5.5 0 0 1-.708-.708L12.293 3.5l-1.147-1.146a.5.5 0 0 1 0-.708"
                                />
                            </svg>
                            <span> Cấp cứu 1900 636 555</span>
                        </a>
                    </div>
                    <div class="col-md-6 z-1">
                        <a href="/src/index.html" class="text-center align-items-center d-flex text-light --link">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="20"
                                height="20"
                                fill="currentColor"
                                class="bi bi-headset"
                                viewBox="0 0 16 16"
                            >
                                <path
                                    d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5"
                                />
                            </svg>

                            <span>Tư vấn 0947150008</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-5 z-1 d-flex --right align-items-center">
                    <a
                        href="/src/index.html"
                        class="align-items-center d-flex text-light --hightlight --live --link --style"
                    >
                        <div class="--icon align-items-center d-flex">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                class="bi bi-bookmark-plus"
                                viewBox="0 0 16 16"
                            >
                                <path
                                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"
                                />
                                <path
                                    d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4"
                                />
                            </svg>
                        </div>
                        <span> Ưu đãi nổi bật</span>
                    </a>
                    <div class="dropdown">
                        <button
                            class="btn dropdown-toggle"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            style="color: #fff"
                        >
                            VI
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Tiếng Việt</a></li>
                            <li><a class="dropdown-item" href="#">English</a></li>
                        </ul>
                    </div>

                    <div class="d-flex align-items-center --button">
                        <a class="--link --language" href="/" role="button"> Đăng ký </a>
                        <a class="--link --language" href="/" role="button"> Đăng nhập </a>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center header-bot">
                <div class="--menu d-flex justify-content-end align-items-center">
                    <div class="--item">
                        <div class="itemmenu" style="margin-left: 30px">
                            <a href="/" class="--link --styleitem"
                                >Giới thiệu
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="20"
                                    fill="currentColor"
                                    class="bi bi-caret-down --iconButton"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"
                                    />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="--item">
                        <div class="itemmenu">
                            <a href="/" class="--link --styleitem">Dịch vụ</a>
                        </div>
                    </div>
                    <div class="--item">
                        <div class="itemmenu">
                            <a href="/" class="--link --styleitem">Danh sách bác sĩ</a>
                        </div>
                    </div>
                    <div class="--item">
                        <div class="itemmenu">
                            <a href="/" class="--link --styleitem">Chuyên khoa </a>
                        </div>
                    </div>
                    <div class="--item">
                        <div class="itemmenu">
                            <a href="/" class="--link --styleitem"
                                >Tư vấn sức khỏe
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="20"
                                    fill="currentColor"
                                    class="bi bi-caret-down --iconButton"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"
                                    />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="--item">
                        <div class="itemmenu">
                            <a href="/" class="--link --styleitem"
                                >Tin tức & Khuyến mại
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="20"
                                    fill="currentColor"
                                    class="bi bi-caret-down --iconButton"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"
                                    />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="--item">
                        <div class="itemmenu">
                            <a href="/" class="--link --styleitem">Tuyển dụng</a>
                        </div>
                    </div>
                    <div class="--item">
                        <div class="itemmenu">
                            <a href="/" class="--link --styleitem">Liên Hệ</a>
                        </div>
                    </div>
                </div>
                <form class="--search" method="get" action="/Tim Kiem">
                    <input value type="text" name="search" placeholder="Tìm kiếm" />
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        fill="currentColor"
                        class="bi bi-search"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
                        />
                    </svg>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary py-0">
    <div class="container-fluid container-fluid-private">
        <div class="--logo">
            <a class="navbar-brand" href="#">
                <img
                    src="https://hongngochospital.vn/logo/logo.png"
                    alt="Bootstrap"
                    class="img-fluid"
                    width="30"
                    height="24"
                />
            </a>
        </div>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarScroll"
            aria-controls="navbarScroll"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">

            <div class="container container_header-top px-0 mx-0">
                <div class="col-12 header-top">
                    <div class="z-0 --bg">
                        <img src="https://hongngochospital.vn/statics/img/bg-header.svg" class="img-fluid" alt="..." />
                    </div>
                    <div class="col-md-5 z-1 d-flex">
                        <div class="col-md-6 z-1">
                            <a href="/src/index.html" class="text-center align-items-center d-flex text-light --link">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="20"
                                    fill="currentColor"
                                    class="bi bi-telephone-x"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"
                                    />
                                    <path
                                        fill-rule="evenodd"
                                        d="M11.146 1.646a.5.5 0 0 1 .708 0L13 2.793l1.146-1.147a.5.5 0 0 1 .708.708L13.707 3.5l1.147 1.146a.5.5 0 0 1-.708.708L13 4.207l-1.146 1.147a.5.5 0 0 1-.708-.708L12.293 3.5l-1.147-1.146a.5.5 0 0 1 0-.708"
                                    />
                                </svg>
                                <span style="font-size: 140%;"> Cấp cứu 1900 636 555</span>
                            </a>
                        </div>
                        <div class="col-md-6 z-1">
                            <a href="/src/index.html" class="text-center align-items-center d-flex text-light --link">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="20"
                                    fill="currentColor"
                                    class="bi bi-headset"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5"
                                    />
                                </svg>

                                <span style="font-size: 140%;">Tư vấn 0947150008</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-5 z-1 d-flex --right align-items-center">
                        <a
                            href="/src/index.html"
                            class="align-items-center d-flex text-light --hightlight --live --link --style"
                        >
                            <div class="--icon align-items-center d-flex">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-bookmark-plus"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"
                                    />
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4"
                                    />
                                </svg>
                            </div>
                            <span> Ưu đãi nổi bật</span>
                        </a>
                        <div class="dropdown">
                            <button
                                class="btn dropdown-toggle"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                style="color: #fff"
                            >
                                VI
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Tiếng Việt</a></li>
                                <li><a class="dropdown-item" href="#">English</a></li>
                            </ul>
                        </div>

                        <div class="d-flex align-items-center --button">
                            <a class="--link --language" href="/" role="button" style ="font-size: 140%;"> Đăng ký </a>
                            <a class="--link --language" href="/" role="button" style ="font-size: 140%;"> Đăng nhập </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 d-flex align-items-center header-bot">
                    <div class="--menu d-flex justify-content-end align-items-center">
                        <div class="nav-item dropdown" style="margin-left: 150px">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                style ="font-size: 140%;"
                            >
                                Giới thiệu
                            </a>
                            <ul class="dropdown-menu z-2">
                                <li><a class="dropdown-item" href="#">Về Hồng Ngọc Hospital</a></li>
                                <li><a class="dropdown-item" href="#">Hướng đẫn khách hàng</a></li>
                            </ul>
                        </div>
                        <div class="--item">
                            <div class="itemmenu --link --styleitem" routerLink="service">Dịch vụ</div>
                        </div>
                        <div class="--item">
                            <div class="itemmenu">
                                <a href="/" class="--link --styleitem" routerLink="nameDoctor">Danh sách bác sĩ</a>
                            </div>
                        </div>
                        <div class="--item">
                            <div class="itemmenu">
                                <a href="/" class="--link --styleitem">Chuyên khoa </a>
                            </div>
                        </div>
                        <div class="nav-item dropdown --item">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                style ="font-size: 100%;"
                            >
                                Tư vấn sức khỏe
                            </a>
                            <ul class="dropdown-menu z-2">
                                <li><a class="dropdown-item" href="#">Chuyên mục bài viết</a></li>
                                <li><a class="dropdown-item" href="#">Bệnh học A-Z</a></li>
                                <li><a class="dropdown-item" href="#">Từ điển cơ thể</a></li>
                            </ul>
                        </div>
                        <div class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                style ="font-size: 140%;"
                            >
                                Tin tức & Khuyến mại
                            </a>
                            <ul class="dropdown-menu z-2">
                                <li><a class="dropdown-item" href="#">Thông tin ưu đãi</a></li>
                                <li><a class="dropdown-item" href="#">Câu chuyện khách hàng</a></li>
                                <li><a class="dropdown-item" href="#">Từ điển cơ thể</a></li>
                            </ul>
                        </div>
                        <div class="--item">
                            <div class="itemmenu">
                                <a href="/" class="--link --styleitem">Tuyển dụng</a>
                            </div>
                        </div>
                        <div class="--item">
                            <div class="itemmenu">
                                <a href="/" class="--link --styleitem">Liên Hệ</a>
                            </div>
                        </div>
                    </div>
                    <form class="--search" method="get" action="/Tim Kiem">
                        <input value type="text" name="search" placeholder="Tìm kiếm" />
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            fill="currentColor"
                            class="bi bi-search"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
                            />
                        </svg>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav> -->